button {
	height: 30px;
	width: 100px;
}

#lukko1,#lukko2,#lukko3,#lukko4,#lukko5 {
	height: 30px;
	width: 65px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
}
